body {
  background:linear-gradient(#c6ea8d,#fe90af);

  color: #000000;
}

h1,
h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#center{
margin:15px;
  text-align: center;
}
table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

table thead tr {
  text-align: left;
}

table thead tr.legend,
table thead tr.legend th {
 background: linear-gradient(#e0ad64,#f7A5cb);
  text-align: center;
}

table thead tr th.type {
 background: linear-gradient(#e0ad64,#f7A5cb);

  color: #070707;
}
#keyCodeDialog{
text-align: center;;
background: linear-gradient(#3E5151,#DECBA4);
}
#keyCodeDialog button{
border:none;
background: linear-gradient(45deg, red, black);
}
#keyCodeDialog h1,h3{

  color:rgb(101, 187, 154);
}


table thead tr th.legacy {
 background: linear-gradient(#e0ad64,#f7A5cb);

  color: #000000;
}

table thead tr th.current {
 background: linear-gradient(#e0ad64,#f7A5cb);

  color: #000000;
}

table thead tr th.modifier {
/* background: linear-gradient(-45deg,#9e1f63,#392d91); */
 background: linear-gradient(#e0ad64,#f7A5cb);

  color: #030303;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #ff0b0b;
}

table tbody tr:nth-of-type(even) {
  background: linear-gradient(45deg, red, black);
  color:whitesmoke
}

table tbody tr:nth-of-type(odd) {
  background: linear-gradient(45deg, black,red);

  color:rgb(224, 218, 221)
}
table tbody tr:last-of-type {
  border-bottom: 2px solid #3498db;
}

table tbody tr.active-row {
  font-weight: bold;
  color: #3498db;
}

.key {
  margin: 5px;
}

.key mark {
  font-size: 60px;
background: linear-gradient(45deg, red, black);

  color: #ffffff;
  border-radius: 3px;
  padding: 5px;
}

.hint {
  margin-top: 5px;
  margin-left: 5px;
  color: #767474;
}

.results {
  margin: 10px 5px 0px 5px;
background:linear-gradient(#bff098,#6fd6ff);
  padding: 10px;
  border-radius: 4px;
  overflow: auto;
}

.note {
  align-content: center;
  display: flex;
  justify-content: center;
}

.filter {
  margin-left: 5px;
}

.v-false {
  color: #ec8282;
}

.v-true {
  color: green;
}

.git-ribbon {
  position: absolute;
  right: 0;
  top: 0;
}
.clearAll{
display:flex;
justify-content: space-around;

}
button{
margin:4px;
padding:15px;
text-align: center;
display:flex;
justify-content: center;
align-items: center;
background: linear-gradient(45deg, red, black);
}
.input-here {
  width: 80%;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  background-color: #ebebeb;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.dialog-content {
  height: 300px;
  overflow: auto;
}

dialog::backdrop {
  background: repeating-linear-gradient(
    30deg,
    rgba(24, 194, 236, 0.2),
    rgba(24, 194, 236, 0.2) 1px,
    rgba(24, 194, 236, 0.3) 1px,
    rgba(24, 194, 236, 0.3) 20px
  );
  backdrop-filter: blur(1px)
}

button {
  height: 25px;
  background-color: #31a1fa;
  color: #FFF;
  border: 1px solid #008eff;
  border-radius: 4px;
  cursor: pointer;
}

button.close {
  background-color: rgba(255, 30, 0, 0.897);
  border: 1px solid #ff006f;
}
